<!--app.component.ts'de oluşturduğumuz değişkenlere erişmek için {{değişkenAdi}}-->
<!--Javascript küçük büyük harf duyarlıdır-->

<!--Bir satır 12 eşit parçaya bölünür-->

<div class="container"> <!--container:ortalar-->
<app-navi></app-navi> <!--navbar-->
<div class="row"> <!--satır-->
  <div class="col-md-3"> <!--3 birim-->
    <app-category></app-category>
  </div>
  <div class="col-md-9"> <!--önceki 3 birimdi, 12-3=9 -->
    <app-product></app-product>
  </div>
</div>



<router-outlet></router-outlet>
</div>

